<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ZbTdyuanUserDebtMapper">
  <resultMap id="BaseResultMap" type="po.ZbTdyuanUserDebt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hasCreditLoan" jdbcType="BIT" property="hasCreditLoan" />
    <result column="creditLoanAmount" jdbcType="VARCHAR" property="creditLoanAmount" />
    <result column="creditLoanBalance" jdbcType="VARCHAR" property="creditLoanBalance" />
    <result column="creditLoanCnt" jdbcType="INTEGER" property="creditLoanCnt" />
    <result column="creditLoanOrg" jdbcType="VARCHAR" property="creditLoanOrg" />
    <result column="hasSmallMortgageLoan" jdbcType="BIT" property="hasSmallMortgageLoan" />
    <result column="smallMortgageAmount" jdbcType="VARCHAR" property="smallMortgageAmount" />
    <result column="smallMortgageBalance" jdbcType="VARCHAR" property="smallMortgageBalance" />
    <result column="smallMortgageCnt" jdbcType="INTEGER" property="smallMortgageCnt" />
    <result column="smallMortgageOrg" jdbcType="VARCHAR" property="smallMortgageOrg" />
    <result column="hasSmallLoan" jdbcType="BIT" property="hasSmallLoan" />
    <result column="smallLoanAmount" jdbcType="VARCHAR" property="smallLoanAmount" />
    <result column="smallLoanBalance" jdbcType="VARCHAR" property="smallLoanBalance" />
    <result column="smallLoanCnt" jdbcType="INTEGER" property="smallLoanCnt" />
    <result column="smallLoanOrg" jdbcType="VARCHAR" property="smallLoanOrg" />
    <result column="hasCreditCard" jdbcType="BIT" property="hasCreditCard" />
    <result column="creditCardCnt" jdbcType="INTEGER" property="creditCardCnt" />
    <result column="creditCardQuota" jdbcType="VARCHAR" property="creditCardQuota" />
    <result column="creditCardDebt" jdbcType="VARCHAR" property="creditCardDebt" />
    <result column="hasOtherNotCreditLoan" jdbcType="BIT" property="hasOtherNotCreditLoan" />
    <result column="otherNotCreditLoanCnt" jdbcType="VARCHAR" property="otherNotCreditLoanCnt" />
    <result column="otherNotCreditLoanAmount" jdbcType="VARCHAR" property="otherNotCreditLoanAmount" />
    <result column="otherNotCreditLoanOrg" jdbcType="VARCHAR" property="otherNotCreditLoanOrg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hasCreditLoan, creditLoanAmount, creditLoanBalance, creditLoanCnt, creditLoanOrg, 
    hasSmallMortgageLoan, smallMortgageAmount, smallMortgageBalance, smallMortgageCnt, 
    smallMortgageOrg, hasSmallLoan, smallLoanAmount, smallLoanBalance, smallLoanCnt, 
    smallLoanOrg, hasCreditCard, creditCardCnt, creditCardQuota, creditCardDebt, hasOtherNotCreditLoan, 
    otherNotCreditLoanCnt, otherNotCreditLoanAmount, otherNotCreditLoanOrg
  </sql>
  <select id="selectByExample" parameterType="po.ZbTdyuanUserDebtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zb_tdyuan_user_debt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zb_tdyuan_user_debt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.ZbTdyuanUserDebtExample">
    delete from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.ZbTdyuanUserDebt">
    insert into zb_tdyuan_user_debt (id, hasCreditLoan, creditLoanAmount, 
      creditLoanBalance, creditLoanCnt, creditLoanOrg, 
      hasSmallMortgageLoan, smallMortgageAmount, 
      smallMortgageBalance, smallMortgageCnt, 
      smallMortgageOrg, hasSmallLoan, smallLoanAmount, 
      smallLoanBalance, smallLoanCnt, smallLoanOrg, 
      hasCreditCard, creditCardCnt, creditCardQuota, 
      creditCardDebt, hasOtherNotCreditLoan, otherNotCreditLoanCnt, 
      otherNotCreditLoanAmount, otherNotCreditLoanOrg
      )
    values (#{id,jdbcType=INTEGER}, #{hasCreditLoan,jdbcType=BIT}, #{creditLoanAmount,jdbcType=VARCHAR}, 
      #{creditLoanBalance,jdbcType=VARCHAR}, #{creditLoanCnt,jdbcType=INTEGER}, #{creditLoanOrg,jdbcType=VARCHAR}, 
      #{hasSmallMortgageLoan,jdbcType=BIT}, #{smallMortgageAmount,jdbcType=VARCHAR}, 
      #{smallMortgageBalance,jdbcType=VARCHAR}, #{smallMortgageCnt,jdbcType=INTEGER}, 
      #{smallMortgageOrg,jdbcType=VARCHAR}, #{hasSmallLoan,jdbcType=BIT}, #{smallLoanAmount,jdbcType=VARCHAR}, 
      #{smallLoanBalance,jdbcType=VARCHAR}, #{smallLoanCnt,jdbcType=INTEGER}, #{smallLoanOrg,jdbcType=VARCHAR}, 
      #{hasCreditCard,jdbcType=BIT}, #{creditCardCnt,jdbcType=INTEGER}, #{creditCardQuota,jdbcType=VARCHAR}, 
      #{creditCardDebt,jdbcType=VARCHAR}, #{hasOtherNotCreditLoan,jdbcType=BIT}, #{otherNotCreditLoanCnt,jdbcType=VARCHAR}, 
      #{otherNotCreditLoanAmount,jdbcType=VARCHAR}, #{otherNotCreditLoanOrg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.ZbTdyuanUserDebt">
    insert into zb_tdyuan_user_debt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hasCreditLoan != null">
        hasCreditLoan,
      </if>
      <if test="creditLoanAmount != null">
        creditLoanAmount,
      </if>
      <if test="creditLoanBalance != null">
        creditLoanBalance,
      </if>
      <if test="creditLoanCnt != null">
        creditLoanCnt,
      </if>
      <if test="creditLoanOrg != null">
        creditLoanOrg,
      </if>
      <if test="hasSmallMortgageLoan != null">
        hasSmallMortgageLoan,
      </if>
      <if test="smallMortgageAmount != null">
        smallMortgageAmount,
      </if>
      <if test="smallMortgageBalance != null">
        smallMortgageBalance,
      </if>
      <if test="smallMortgageCnt != null">
        smallMortgageCnt,
      </if>
      <if test="smallMortgageOrg != null">
        smallMortgageOrg,
      </if>
      <if test="hasSmallLoan != null">
        hasSmallLoan,
      </if>
      <if test="smallLoanAmount != null">
        smallLoanAmount,
      </if>
      <if test="smallLoanBalance != null">
        smallLoanBalance,
      </if>
      <if test="smallLoanCnt != null">
        smallLoanCnt,
      </if>
      <if test="smallLoanOrg != null">
        smallLoanOrg,
      </if>
      <if test="hasCreditCard != null">
        hasCreditCard,
      </if>
      <if test="creditCardCnt != null">
        creditCardCnt,
      </if>
      <if test="creditCardQuota != null">
        creditCardQuota,
      </if>
      <if test="creditCardDebt != null">
        creditCardDebt,
      </if>
      <if test="hasOtherNotCreditLoan != null">
        hasOtherNotCreditLoan,
      </if>
      <if test="otherNotCreditLoanCnt != null">
        otherNotCreditLoanCnt,
      </if>
      <if test="otherNotCreditLoanAmount != null">
        otherNotCreditLoanAmount,
      </if>
      <if test="otherNotCreditLoanOrg != null">
        otherNotCreditLoanOrg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hasCreditLoan != null">
        #{hasCreditLoan,jdbcType=BIT},
      </if>
      <if test="creditLoanAmount != null">
        #{creditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="creditLoanBalance != null">
        #{creditLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="creditLoanCnt != null">
        #{creditLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="creditLoanOrg != null">
        #{creditLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasSmallMortgageLoan != null">
        #{hasSmallMortgageLoan,jdbcType=BIT},
      </if>
      <if test="smallMortgageAmount != null">
        #{smallMortgageAmount,jdbcType=VARCHAR},
      </if>
      <if test="smallMortgageBalance != null">
        #{smallMortgageBalance,jdbcType=VARCHAR},
      </if>
      <if test="smallMortgageCnt != null">
        #{smallMortgageCnt,jdbcType=INTEGER},
      </if>
      <if test="smallMortgageOrg != null">
        #{smallMortgageOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasSmallLoan != null">
        #{hasSmallLoan,jdbcType=BIT},
      </if>
      <if test="smallLoanAmount != null">
        #{smallLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="smallLoanBalance != null">
        #{smallLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="smallLoanCnt != null">
        #{smallLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="smallLoanOrg != null">
        #{smallLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasCreditCard != null">
        #{hasCreditCard,jdbcType=BIT},
      </if>
      <if test="creditCardCnt != null">
        #{creditCardCnt,jdbcType=INTEGER},
      </if>
      <if test="creditCardQuota != null">
        #{creditCardQuota,jdbcType=VARCHAR},
      </if>
      <if test="creditCardDebt != null">
        #{creditCardDebt,jdbcType=VARCHAR},
      </if>
      <if test="hasOtherNotCreditLoan != null">
        #{hasOtherNotCreditLoan,jdbcType=BIT},
      </if>
      <if test="otherNotCreditLoanCnt != null">
        #{otherNotCreditLoanCnt,jdbcType=VARCHAR},
      </if>
      <if test="otherNotCreditLoanAmount != null">
        #{otherNotCreditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherNotCreditLoanOrg != null">
        #{otherNotCreditLoanOrg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.ZbTdyuanUserDebtExample" resultType="java.lang.Long">
    select count(*) from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zb_tdyuan_user_debt
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hasCreditLoan != null">
        hasCreditLoan = #{record.hasCreditLoan,jdbcType=BIT},
      </if>
      <if test="record.creditLoanAmount != null">
        creditLoanAmount = #{record.creditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.creditLoanBalance != null">
        creditLoanBalance = #{record.creditLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.creditLoanCnt != null">
        creditLoanCnt = #{record.creditLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="record.creditLoanOrg != null">
        creditLoanOrg = #{record.creditLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.hasSmallMortgageLoan != null">
        hasSmallMortgageLoan = #{record.hasSmallMortgageLoan,jdbcType=BIT},
      </if>
      <if test="record.smallMortgageAmount != null">
        smallMortgageAmount = #{record.smallMortgageAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.smallMortgageBalance != null">
        smallMortgageBalance = #{record.smallMortgageBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.smallMortgageCnt != null">
        smallMortgageCnt = #{record.smallMortgageCnt,jdbcType=INTEGER},
      </if>
      <if test="record.smallMortgageOrg != null">
        smallMortgageOrg = #{record.smallMortgageOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.hasSmallLoan != null">
        hasSmallLoan = #{record.hasSmallLoan,jdbcType=BIT},
      </if>
      <if test="record.smallLoanAmount != null">
        smallLoanAmount = #{record.smallLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.smallLoanBalance != null">
        smallLoanBalance = #{record.smallLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.smallLoanCnt != null">
        smallLoanCnt = #{record.smallLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="record.smallLoanOrg != null">
        smallLoanOrg = #{record.smallLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.hasCreditCard != null">
        hasCreditCard = #{record.hasCreditCard,jdbcType=BIT},
      </if>
      <if test="record.creditCardCnt != null">
        creditCardCnt = #{record.creditCardCnt,jdbcType=INTEGER},
      </if>
      <if test="record.creditCardQuota != null">
        creditCardQuota = #{record.creditCardQuota,jdbcType=VARCHAR},
      </if>
      <if test="record.creditCardDebt != null">
        creditCardDebt = #{record.creditCardDebt,jdbcType=VARCHAR},
      </if>
      <if test="record.hasOtherNotCreditLoan != null">
        hasOtherNotCreditLoan = #{record.hasOtherNotCreditLoan,jdbcType=BIT},
      </if>
      <if test="record.otherNotCreditLoanCnt != null">
        otherNotCreditLoanCnt = #{record.otherNotCreditLoanCnt,jdbcType=VARCHAR},
      </if>
      <if test="record.otherNotCreditLoanAmount != null">
        otherNotCreditLoanAmount = #{record.otherNotCreditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.otherNotCreditLoanOrg != null">
        otherNotCreditLoanOrg = #{record.otherNotCreditLoanOrg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zb_tdyuan_user_debt
    set id = #{record.id,jdbcType=INTEGER},
      hasCreditLoan = #{record.hasCreditLoan,jdbcType=BIT},
      creditLoanAmount = #{record.creditLoanAmount,jdbcType=VARCHAR},
      creditLoanBalance = #{record.creditLoanBalance,jdbcType=VARCHAR},
      creditLoanCnt = #{record.creditLoanCnt,jdbcType=INTEGER},
      creditLoanOrg = #{record.creditLoanOrg,jdbcType=VARCHAR},
      hasSmallMortgageLoan = #{record.hasSmallMortgageLoan,jdbcType=BIT},
      smallMortgageAmount = #{record.smallMortgageAmount,jdbcType=VARCHAR},
      smallMortgageBalance = #{record.smallMortgageBalance,jdbcType=VARCHAR},
      smallMortgageCnt = #{record.smallMortgageCnt,jdbcType=INTEGER},
      smallMortgageOrg = #{record.smallMortgageOrg,jdbcType=VARCHAR},
      hasSmallLoan = #{record.hasSmallLoan,jdbcType=BIT},
      smallLoanAmount = #{record.smallLoanAmount,jdbcType=VARCHAR},
      smallLoanBalance = #{record.smallLoanBalance,jdbcType=VARCHAR},
      smallLoanCnt = #{record.smallLoanCnt,jdbcType=INTEGER},
      smallLoanOrg = #{record.smallLoanOrg,jdbcType=VARCHAR},
      hasCreditCard = #{record.hasCreditCard,jdbcType=BIT},
      creditCardCnt = #{record.creditCardCnt,jdbcType=INTEGER},
      creditCardQuota = #{record.creditCardQuota,jdbcType=VARCHAR},
      creditCardDebt = #{record.creditCardDebt,jdbcType=VARCHAR},
      hasOtherNotCreditLoan = #{record.hasOtherNotCreditLoan,jdbcType=BIT},
      otherNotCreditLoanCnt = #{record.otherNotCreditLoanCnt,jdbcType=VARCHAR},
      otherNotCreditLoanAmount = #{record.otherNotCreditLoanAmount,jdbcType=VARCHAR},
      otherNotCreditLoanOrg = #{record.otherNotCreditLoanOrg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.ZbTdyuanUserDebt">
    update zb_tdyuan_user_debt
    <set>
      <if test="hasCreditLoan != null">
        hasCreditLoan = #{hasCreditLoan,jdbcType=BIT},
      </if>
      <if test="creditLoanAmount != null">
        creditLoanAmount = #{creditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="creditLoanBalance != null">
        creditLoanBalance = #{creditLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="creditLoanCnt != null">
        creditLoanCnt = #{creditLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="creditLoanOrg != null">
        creditLoanOrg = #{creditLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasSmallMortgageLoan != null">
        hasSmallMortgageLoan = #{hasSmallMortgageLoan,jdbcType=BIT},
      </if>
      <if test="smallMortgageAmount != null">
        smallMortgageAmount = #{smallMortgageAmount,jdbcType=VARCHAR},
      </if>
      <if test="smallMortgageBalance != null">
        smallMortgageBalance = #{smallMortgageBalance,jdbcType=VARCHAR},
      </if>
      <if test="smallMortgageCnt != null">
        smallMortgageCnt = #{smallMortgageCnt,jdbcType=INTEGER},
      </if>
      <if test="smallMortgageOrg != null">
        smallMortgageOrg = #{smallMortgageOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasSmallLoan != null">
        hasSmallLoan = #{hasSmallLoan,jdbcType=BIT},
      </if>
      <if test="smallLoanAmount != null">
        smallLoanAmount = #{smallLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="smallLoanBalance != null">
        smallLoanBalance = #{smallLoanBalance,jdbcType=VARCHAR},
      </if>
      <if test="smallLoanCnt != null">
        smallLoanCnt = #{smallLoanCnt,jdbcType=INTEGER},
      </if>
      <if test="smallLoanOrg != null">
        smallLoanOrg = #{smallLoanOrg,jdbcType=VARCHAR},
      </if>
      <if test="hasCreditCard != null">
        hasCreditCard = #{hasCreditCard,jdbcType=BIT},
      </if>
      <if test="creditCardCnt != null">
        creditCardCnt = #{creditCardCnt,jdbcType=INTEGER},
      </if>
      <if test="creditCardQuota != null">
        creditCardQuota = #{creditCardQuota,jdbcType=VARCHAR},
      </if>
      <if test="creditCardDebt != null">
        creditCardDebt = #{creditCardDebt,jdbcType=VARCHAR},
      </if>
      <if test="hasOtherNotCreditLoan != null">
        hasOtherNotCreditLoan = #{hasOtherNotCreditLoan,jdbcType=BIT},
      </if>
      <if test="otherNotCreditLoanCnt != null">
        otherNotCreditLoanCnt = #{otherNotCreditLoanCnt,jdbcType=VARCHAR},
      </if>
      <if test="otherNotCreditLoanAmount != null">
        otherNotCreditLoanAmount = #{otherNotCreditLoanAmount,jdbcType=VARCHAR},
      </if>
      <if test="otherNotCreditLoanOrg != null">
        otherNotCreditLoanOrg = #{otherNotCreditLoanOrg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.ZbTdyuanUserDebt">
    update zb_tdyuan_user_debt
    set hasCreditLoan = #{hasCreditLoan,jdbcType=BIT},
      creditLoanAmount = #{creditLoanAmount,jdbcType=VARCHAR},
      creditLoanBalance = #{creditLoanBalance,jdbcType=VARCHAR},
      creditLoanCnt = #{creditLoanCnt,jdbcType=INTEGER},
      creditLoanOrg = #{creditLoanOrg,jdbcType=VARCHAR},
      hasSmallMortgageLoan = #{hasSmallMortgageLoan,jdbcType=BIT},
      smallMortgageAmount = #{smallMortgageAmount,jdbcType=VARCHAR},
      smallMortgageBalance = #{smallMortgageBalance,jdbcType=VARCHAR},
      smallMortgageCnt = #{smallMortgageCnt,jdbcType=INTEGER},
      smallMortgageOrg = #{smallMortgageOrg,jdbcType=VARCHAR},
      hasSmallLoan = #{hasSmallLoan,jdbcType=BIT},
      smallLoanAmount = #{smallLoanAmount,jdbcType=VARCHAR},
      smallLoanBalance = #{smallLoanBalance,jdbcType=VARCHAR},
      smallLoanCnt = #{smallLoanCnt,jdbcType=INTEGER},
      smallLoanOrg = #{smallLoanOrg,jdbcType=VARCHAR},
      hasCreditCard = #{hasCreditCard,jdbcType=BIT},
      creditCardCnt = #{creditCardCnt,jdbcType=INTEGER},
      creditCardQuota = #{creditCardQuota,jdbcType=VARCHAR},
      creditCardDebt = #{creditCardDebt,jdbcType=VARCHAR},
      hasOtherNotCreditLoan = #{hasOtherNotCreditLoan,jdbcType=BIT},
      otherNotCreditLoanCnt = #{otherNotCreditLoanCnt,jdbcType=VARCHAR},
      otherNotCreditLoanAmount = #{otherNotCreditLoanAmount,jdbcType=VARCHAR},
      otherNotCreditLoanOrg = #{otherNotCreditLoanOrg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>