<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ZbTdyuanUserDebtMapper">
  <resultMap id="BaseResultMap" type="po.ZbTdyuanUserDebt">
    <id column="dbt_id" jdbcType="INTEGER" property="dbtId" />
    <result column="hasCreditLoan" jdbcType="BIT" property="hascreditloan" />
    <result column="creditLoanAmount" jdbcType="VARCHAR" property="creditloanamount" />
    <result column="creditLoanBalance" jdbcType="VARCHAR" property="creditloanbalance" />
    <result column="creditLoanCnt" jdbcType="INTEGER" property="creditloancnt" />
    <result column="creditLoanOrg" jdbcType="VARCHAR" property="creditloanorg" />
    <result column="hasSmallMortgageLoan" jdbcType="BIT" property="hassmallmortgageloan" />
    <result column="smallMortgageAmount" jdbcType="VARCHAR" property="smallmortgageamount" />
    <result column="smallMortgageBalance" jdbcType="VARCHAR" property="smallmortgagebalance" />
    <result column="smallMortgageCnt" jdbcType="INTEGER" property="smallmortgagecnt" />
    <result column="smallMortgageOrg" jdbcType="VARCHAR" property="smallmortgageorg" />
    <result column="hasSmallLoan" jdbcType="BIT" property="hassmallloan" />
    <result column="smallLoanAmount" jdbcType="VARCHAR" property="smallloanamount" />
    <result column="smallLoanBalance" jdbcType="VARCHAR" property="smallloanbalance" />
    <result column="smallLoanCnt" jdbcType="INTEGER" property="smallloancnt" />
    <result column="smallLoanOrg" jdbcType="VARCHAR" property="smallloanorg" />
    <result column="hasCreditCard" jdbcType="BIT" property="hascreditcard" />
    <result column="creditCardCnt" jdbcType="INTEGER" property="creditcardcnt" />
    <result column="creditCardQuota" jdbcType="VARCHAR" property="creditcardquota" />
    <result column="creditCardDebt" jdbcType="VARCHAR" property="creditcarddebt" />
    <result column="hasOtherNotCreditLoan" jdbcType="BIT" property="hasothernotcreditloan" />
    <result column="otherNotCreditLoanCnt" jdbcType="VARCHAR" property="othernotcreditloancnt" />
    <result column="otherNotCreditLoanAmount" jdbcType="VARCHAR" property="othernotcreditloanamount" />
    <result column="otherNotCreditLoanOrg" jdbcType="VARCHAR" property="othernotcreditloanorg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dbt_id, hasCreditLoan, creditLoanAmount, creditLoanBalance, creditLoanCnt, creditLoanOrg, 
    hasSmallMortgageLoan, smallMortgageAmount, smallMortgageBalance, smallMortgageCnt, 
    smallMortgageOrg, hasSmallLoan, smallLoanAmount, smallLoanBalance, smallLoanCnt, 
    smallLoanOrg, hasCreditCard, creditCardCnt, creditCardQuota, creditCardDebt, hasOtherNotCreditLoan, 
    otherNotCreditLoanCnt, otherNotCreditLoanAmount, otherNotCreditLoanOrg
  </sql>
  <select id="selectByExample" parameterType="po.ZbTdyuanUserDebtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zb_tdyuan_user_debt
    where dbt_id = #{dbtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zb_tdyuan_user_debt
    where dbt_id = #{dbtId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.ZbTdyuanUserDebtExample">
    delete from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.ZbTdyuanUserDebt">
    insert into zb_tdyuan_user_debt (dbt_id, hasCreditLoan, creditLoanAmount, 
      creditLoanBalance, creditLoanCnt, creditLoanOrg, 
      hasSmallMortgageLoan, smallMortgageAmount, 
      smallMortgageBalance, smallMortgageCnt, 
      smallMortgageOrg, hasSmallLoan, smallLoanAmount, 
      smallLoanBalance, smallLoanCnt, smallLoanOrg, 
      hasCreditCard, creditCardCnt, creditCardQuota, 
      creditCardDebt, hasOtherNotCreditLoan, otherNotCreditLoanCnt, 
      otherNotCreditLoanAmount, otherNotCreditLoanOrg
      )
    values (#{dbtId,jdbcType=INTEGER}, #{hascreditloan,jdbcType=BIT}, #{creditloanamount,jdbcType=VARCHAR}, 
      #{creditloanbalance,jdbcType=VARCHAR}, #{creditloancnt,jdbcType=INTEGER}, #{creditloanorg,jdbcType=VARCHAR}, 
      #{hassmallmortgageloan,jdbcType=BIT}, #{smallmortgageamount,jdbcType=VARCHAR}, 
      #{smallmortgagebalance,jdbcType=VARCHAR}, #{smallmortgagecnt,jdbcType=INTEGER}, 
      #{smallmortgageorg,jdbcType=VARCHAR}, #{hassmallloan,jdbcType=BIT}, #{smallloanamount,jdbcType=VARCHAR}, 
      #{smallloanbalance,jdbcType=VARCHAR}, #{smallloancnt,jdbcType=INTEGER}, #{smallloanorg,jdbcType=VARCHAR}, 
      #{hascreditcard,jdbcType=BIT}, #{creditcardcnt,jdbcType=INTEGER}, #{creditcardquota,jdbcType=VARCHAR}, 
      #{creditcarddebt,jdbcType=VARCHAR}, #{hasothernotcreditloan,jdbcType=BIT}, #{othernotcreditloancnt,jdbcType=VARCHAR}, 
      #{othernotcreditloanamount,jdbcType=VARCHAR}, #{othernotcreditloanorg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.ZbTdyuanUserDebt">
    insert into zb_tdyuan_user_debt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbtId != null">
        dbt_id,
      </if>
      <if test="hascreditloan != null">
        hasCreditLoan,
      </if>
      <if test="creditloanamount != null">
        creditLoanAmount,
      </if>
      <if test="creditloanbalance != null">
        creditLoanBalance,
      </if>
      <if test="creditloancnt != null">
        creditLoanCnt,
      </if>
      <if test="creditloanorg != null">
        creditLoanOrg,
      </if>
      <if test="hassmallmortgageloan != null">
        hasSmallMortgageLoan,
      </if>
      <if test="smallmortgageamount != null">
        smallMortgageAmount,
      </if>
      <if test="smallmortgagebalance != null">
        smallMortgageBalance,
      </if>
      <if test="smallmortgagecnt != null">
        smallMortgageCnt,
      </if>
      <if test="smallmortgageorg != null">
        smallMortgageOrg,
      </if>
      <if test="hassmallloan != null">
        hasSmallLoan,
      </if>
      <if test="smallloanamount != null">
        smallLoanAmount,
      </if>
      <if test="smallloanbalance != null">
        smallLoanBalance,
      </if>
      <if test="smallloancnt != null">
        smallLoanCnt,
      </if>
      <if test="smallloanorg != null">
        smallLoanOrg,
      </if>
      <if test="hascreditcard != null">
        hasCreditCard,
      </if>
      <if test="creditcardcnt != null">
        creditCardCnt,
      </if>
      <if test="creditcardquota != null">
        creditCardQuota,
      </if>
      <if test="creditcarddebt != null">
        creditCardDebt,
      </if>
      <if test="hasothernotcreditloan != null">
        hasOtherNotCreditLoan,
      </if>
      <if test="othernotcreditloancnt != null">
        otherNotCreditLoanCnt,
      </if>
      <if test="othernotcreditloanamount != null">
        otherNotCreditLoanAmount,
      </if>
      <if test="othernotcreditloanorg != null">
        otherNotCreditLoanOrg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbtId != null">
        #{dbtId,jdbcType=INTEGER},
      </if>
      <if test="hascreditloan != null">
        #{hascreditloan,jdbcType=BIT},
      </if>
      <if test="creditloanamount != null">
        #{creditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="creditloanbalance != null">
        #{creditloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="creditloancnt != null">
        #{creditloancnt,jdbcType=INTEGER},
      </if>
      <if test="creditloanorg != null">
        #{creditloanorg,jdbcType=VARCHAR},
      </if>
      <if test="hassmallmortgageloan != null">
        #{hassmallmortgageloan,jdbcType=BIT},
      </if>
      <if test="smallmortgageamount != null">
        #{smallmortgageamount,jdbcType=VARCHAR},
      </if>
      <if test="smallmortgagebalance != null">
        #{smallmortgagebalance,jdbcType=VARCHAR},
      </if>
      <if test="smallmortgagecnt != null">
        #{smallmortgagecnt,jdbcType=INTEGER},
      </if>
      <if test="smallmortgageorg != null">
        #{smallmortgageorg,jdbcType=VARCHAR},
      </if>
      <if test="hassmallloan != null">
        #{hassmallloan,jdbcType=BIT},
      </if>
      <if test="smallloanamount != null">
        #{smallloanamount,jdbcType=VARCHAR},
      </if>
      <if test="smallloanbalance != null">
        #{smallloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="smallloancnt != null">
        #{smallloancnt,jdbcType=INTEGER},
      </if>
      <if test="smallloanorg != null">
        #{smallloanorg,jdbcType=VARCHAR},
      </if>
      <if test="hascreditcard != null">
        #{hascreditcard,jdbcType=BIT},
      </if>
      <if test="creditcardcnt != null">
        #{creditcardcnt,jdbcType=INTEGER},
      </if>
      <if test="creditcardquota != null">
        #{creditcardquota,jdbcType=VARCHAR},
      </if>
      <if test="creditcarddebt != null">
        #{creditcarddebt,jdbcType=VARCHAR},
      </if>
      <if test="hasothernotcreditloan != null">
        #{hasothernotcreditloan,jdbcType=BIT},
      </if>
      <if test="othernotcreditloancnt != null">
        #{othernotcreditloancnt,jdbcType=VARCHAR},
      </if>
      <if test="othernotcreditloanamount != null">
        #{othernotcreditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="othernotcreditloanorg != null">
        #{othernotcreditloanorg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.ZbTdyuanUserDebtExample" resultType="java.lang.Long">
    select count(*) from zb_tdyuan_user_debt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zb_tdyuan_user_debt
    <set>
      <if test="record.dbtId != null">
        dbt_id = #{record.dbtId,jdbcType=INTEGER},
      </if>
      <if test="record.hascreditloan != null">
        hasCreditLoan = #{record.hascreditloan,jdbcType=BIT},
      </if>
      <if test="record.creditloanamount != null">
        creditLoanAmount = #{record.creditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="record.creditloanbalance != null">
        creditLoanBalance = #{record.creditloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="record.creditloancnt != null">
        creditLoanCnt = #{record.creditloancnt,jdbcType=INTEGER},
      </if>
      <if test="record.creditloanorg != null">
        creditLoanOrg = #{record.creditloanorg,jdbcType=VARCHAR},
      </if>
      <if test="record.hassmallmortgageloan != null">
        hasSmallMortgageLoan = #{record.hassmallmortgageloan,jdbcType=BIT},
      </if>
      <if test="record.smallmortgageamount != null">
        smallMortgageAmount = #{record.smallmortgageamount,jdbcType=VARCHAR},
      </if>
      <if test="record.smallmortgagebalance != null">
        smallMortgageBalance = #{record.smallmortgagebalance,jdbcType=VARCHAR},
      </if>
      <if test="record.smallmortgagecnt != null">
        smallMortgageCnt = #{record.smallmortgagecnt,jdbcType=INTEGER},
      </if>
      <if test="record.smallmortgageorg != null">
        smallMortgageOrg = #{record.smallmortgageorg,jdbcType=VARCHAR},
      </if>
      <if test="record.hassmallloan != null">
        hasSmallLoan = #{record.hassmallloan,jdbcType=BIT},
      </if>
      <if test="record.smallloanamount != null">
        smallLoanAmount = #{record.smallloanamount,jdbcType=VARCHAR},
      </if>
      <if test="record.smallloanbalance != null">
        smallLoanBalance = #{record.smallloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="record.smallloancnt != null">
        smallLoanCnt = #{record.smallloancnt,jdbcType=INTEGER},
      </if>
      <if test="record.smallloanorg != null">
        smallLoanOrg = #{record.smallloanorg,jdbcType=VARCHAR},
      </if>
      <if test="record.hascreditcard != null">
        hasCreditCard = #{record.hascreditcard,jdbcType=BIT},
      </if>
      <if test="record.creditcardcnt != null">
        creditCardCnt = #{record.creditcardcnt,jdbcType=INTEGER},
      </if>
      <if test="record.creditcardquota != null">
        creditCardQuota = #{record.creditcardquota,jdbcType=VARCHAR},
      </if>
      <if test="record.creditcarddebt != null">
        creditCardDebt = #{record.creditcarddebt,jdbcType=VARCHAR},
      </if>
      <if test="record.hasothernotcreditloan != null">
        hasOtherNotCreditLoan = #{record.hasothernotcreditloan,jdbcType=BIT},
      </if>
      <if test="record.othernotcreditloancnt != null">
        otherNotCreditLoanCnt = #{record.othernotcreditloancnt,jdbcType=VARCHAR},
      </if>
      <if test="record.othernotcreditloanamount != null">
        otherNotCreditLoanAmount = #{record.othernotcreditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="record.othernotcreditloanorg != null">
        otherNotCreditLoanOrg = #{record.othernotcreditloanorg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zb_tdyuan_user_debt
    set dbt_id = #{record.dbtId,jdbcType=INTEGER},
      hasCreditLoan = #{record.hascreditloan,jdbcType=BIT},
      creditLoanAmount = #{record.creditloanamount,jdbcType=VARCHAR},
      creditLoanBalance = #{record.creditloanbalance,jdbcType=VARCHAR},
      creditLoanCnt = #{record.creditloancnt,jdbcType=INTEGER},
      creditLoanOrg = #{record.creditloanorg,jdbcType=VARCHAR},
      hasSmallMortgageLoan = #{record.hassmallmortgageloan,jdbcType=BIT},
      smallMortgageAmount = #{record.smallmortgageamount,jdbcType=VARCHAR},
      smallMortgageBalance = #{record.smallmortgagebalance,jdbcType=VARCHAR},
      smallMortgageCnt = #{record.smallmortgagecnt,jdbcType=INTEGER},
      smallMortgageOrg = #{record.smallmortgageorg,jdbcType=VARCHAR},
      hasSmallLoan = #{record.hassmallloan,jdbcType=BIT},
      smallLoanAmount = #{record.smallloanamount,jdbcType=VARCHAR},
      smallLoanBalance = #{record.smallloanbalance,jdbcType=VARCHAR},
      smallLoanCnt = #{record.smallloancnt,jdbcType=INTEGER},
      smallLoanOrg = #{record.smallloanorg,jdbcType=VARCHAR},
      hasCreditCard = #{record.hascreditcard,jdbcType=BIT},
      creditCardCnt = #{record.creditcardcnt,jdbcType=INTEGER},
      creditCardQuota = #{record.creditcardquota,jdbcType=VARCHAR},
      creditCardDebt = #{record.creditcarddebt,jdbcType=VARCHAR},
      hasOtherNotCreditLoan = #{record.hasothernotcreditloan,jdbcType=BIT},
      otherNotCreditLoanCnt = #{record.othernotcreditloancnt,jdbcType=VARCHAR},
      otherNotCreditLoanAmount = #{record.othernotcreditloanamount,jdbcType=VARCHAR},
      otherNotCreditLoanOrg = #{record.othernotcreditloanorg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.ZbTdyuanUserDebt">
    update zb_tdyuan_user_debt
    <set>
      <if test="hascreditloan != null">
        hasCreditLoan = #{hascreditloan,jdbcType=BIT},
      </if>
      <if test="creditloanamount != null">
        creditLoanAmount = #{creditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="creditloanbalance != null">
        creditLoanBalance = #{creditloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="creditloancnt != null">
        creditLoanCnt = #{creditloancnt,jdbcType=INTEGER},
      </if>
      <if test="creditloanorg != null">
        creditLoanOrg = #{creditloanorg,jdbcType=VARCHAR},
      </if>
      <if test="hassmallmortgageloan != null">
        hasSmallMortgageLoan = #{hassmallmortgageloan,jdbcType=BIT},
      </if>
      <if test="smallmortgageamount != null">
        smallMortgageAmount = #{smallmortgageamount,jdbcType=VARCHAR},
      </if>
      <if test="smallmortgagebalance != null">
        smallMortgageBalance = #{smallmortgagebalance,jdbcType=VARCHAR},
      </if>
      <if test="smallmortgagecnt != null">
        smallMortgageCnt = #{smallmortgagecnt,jdbcType=INTEGER},
      </if>
      <if test="smallmortgageorg != null">
        smallMortgageOrg = #{smallmortgageorg,jdbcType=VARCHAR},
      </if>
      <if test="hassmallloan != null">
        hasSmallLoan = #{hassmallloan,jdbcType=BIT},
      </if>
      <if test="smallloanamount != null">
        smallLoanAmount = #{smallloanamount,jdbcType=VARCHAR},
      </if>
      <if test="smallloanbalance != null">
        smallLoanBalance = #{smallloanbalance,jdbcType=VARCHAR},
      </if>
      <if test="smallloancnt != null">
        smallLoanCnt = #{smallloancnt,jdbcType=INTEGER},
      </if>
      <if test="smallloanorg != null">
        smallLoanOrg = #{smallloanorg,jdbcType=VARCHAR},
      </if>
      <if test="hascreditcard != null">
        hasCreditCard = #{hascreditcard,jdbcType=BIT},
      </if>
      <if test="creditcardcnt != null">
        creditCardCnt = #{creditcardcnt,jdbcType=INTEGER},
      </if>
      <if test="creditcardquota != null">
        creditCardQuota = #{creditcardquota,jdbcType=VARCHAR},
      </if>
      <if test="creditcarddebt != null">
        creditCardDebt = #{creditcarddebt,jdbcType=VARCHAR},
      </if>
      <if test="hasothernotcreditloan != null">
        hasOtherNotCreditLoan = #{hasothernotcreditloan,jdbcType=BIT},
      </if>
      <if test="othernotcreditloancnt != null">
        otherNotCreditLoanCnt = #{othernotcreditloancnt,jdbcType=VARCHAR},
      </if>
      <if test="othernotcreditloanamount != null">
        otherNotCreditLoanAmount = #{othernotcreditloanamount,jdbcType=VARCHAR},
      </if>
      <if test="othernotcreditloanorg != null">
        otherNotCreditLoanOrg = #{othernotcreditloanorg,jdbcType=VARCHAR},
      </if>
    </set>
    where dbt_id = #{dbtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.ZbTdyuanUserDebt">
    update zb_tdyuan_user_debt
    set hasCreditLoan = #{hascreditloan,jdbcType=BIT},
      creditLoanAmount = #{creditloanamount,jdbcType=VARCHAR},
      creditLoanBalance = #{creditloanbalance,jdbcType=VARCHAR},
      creditLoanCnt = #{creditloancnt,jdbcType=INTEGER},
      creditLoanOrg = #{creditloanorg,jdbcType=VARCHAR},
      hasSmallMortgageLoan = #{hassmallmortgageloan,jdbcType=BIT},
      smallMortgageAmount = #{smallmortgageamount,jdbcType=VARCHAR},
      smallMortgageBalance = #{smallmortgagebalance,jdbcType=VARCHAR},
      smallMortgageCnt = #{smallmortgagecnt,jdbcType=INTEGER},
      smallMortgageOrg = #{smallmortgageorg,jdbcType=VARCHAR},
      hasSmallLoan = #{hassmallloan,jdbcType=BIT},
      smallLoanAmount = #{smallloanamount,jdbcType=VARCHAR},
      smallLoanBalance = #{smallloanbalance,jdbcType=VARCHAR},
      smallLoanCnt = #{smallloancnt,jdbcType=INTEGER},
      smallLoanOrg = #{smallloanorg,jdbcType=VARCHAR},
      hasCreditCard = #{hascreditcard,jdbcType=BIT},
      creditCardCnt = #{creditcardcnt,jdbcType=INTEGER},
      creditCardQuota = #{creditcardquota,jdbcType=VARCHAR},
      creditCardDebt = #{creditcarddebt,jdbcType=VARCHAR},
      hasOtherNotCreditLoan = #{hasothernotcreditloan,jdbcType=BIT},
      otherNotCreditLoanCnt = #{othernotcreditloancnt,jdbcType=VARCHAR},
      otherNotCreditLoanAmount = #{othernotcreditloanamount,jdbcType=VARCHAR},
      otherNotCreditLoanOrg = #{othernotcreditloanorg,jdbcType=VARCHAR}
    where dbt_id = #{dbtId,jdbcType=INTEGER}
  </update>
</mapper>